<template>
    <div class="row">
        <div class="col-12 mx-auto">
            <form @submit.prevent="store">
                <div class="form-group">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-comment text-info"></i></div>
                        </div>
                        <textarea
                                class="form-control"
                                rows="3"
                                :class="{'is-invalid': errors.body && !comment.body}"
                                placeholder="Leave your comment..."
                                v-model="comment.body">
                        </textarea>
                        <div class="input-group-append">
                            <button class="btn btn-info rounded-1 py-2">
                                <i class="fa fa-paper-plane-o"></i>
                            </button>
                        </div>
                        <div class="invalid-feedback" v-if="errors.body">{{ errors.body[0] }}</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        props: ['url'],
        data() {
            return {
                comment: {
                    body: ''
                },
                errors: {}
            }
        },
        methods: {
            store() {
                axios.post(this.$props.url, this.comment).then(response => {
                    this.$emit('success', response.data);
                    this.comment = {
                      body: ''
                    };
                    this.errors = {};
                }).catch(error => {
                    this.errors = error.response.data.errors;
                });
            }
        }
    }
</script>
