<template>
    <div class="card" ref="card" v-cloak>
        <div class="card-header">Comments</div>
        <div class="container">
            <div class="row">
                <div class="col-12 mt-2">
                    <ul class="media-list">
                        <li class="media" v-for="comment in comments" :key="comment.id">
                            <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">{{ comment.created_at }}</small>
                                </span>
                                <strong class="text-success">{{ comment.title }}</strong>
                                <p>{{ comment.body }}</p>
                            </div>
                        </li>
                    </ul>
                    <a href="" class="d-flex justify-content-center mt-4 mb-4" v-if="this.pagination_url" @click.prevent="loadMore">Load more</a>

                    <comment-form @success="onSuccess" :url="url"></comment-form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        props: ['url'],
        data() {
            return {
                comments: [],
                pagination_url: ''
            }
        },
        mounted() {
            axios.get(this.$props.url).then(response => {
                this.comments = response.data.data;
                this.pagination_url = response.data.next_page_url;
            });
        },
        methods: {
            loadMore() {
                axios.get(this.pagination_url).then(response => {
                    this.comments = [...this.comments, ...response.data.data];
                    this.pagination_url = response.data.next_page_url;
                });
            },
            onSuccess(data) {
                this.$refs.card.scrollIntoView(true);
                this.comments = [data, ...this.comments];
            }
        }
    }
</script>

<style scoped>
    .pull-right {
        float: right !important;
    }
    li.media {
        border-bottom: 1px dashed #efefef;
        margin-bottom: 25px;
    }
</style>
